.App {
  text-align: center;
}

.App h2 {
  color: white;
}

.App h2.BoardTitle {
  text-align: left;
  margin-left: 10px;
}

.AddBoardPaper {
  margin-top: 5px;
  width: 160px;
  padding: 10px;
}

.AddBoardPaper .CreateBoardText {
  padding-bottom: 8px;
}

.AddBoardPaper .CreateBoardButton {
  color: white !important;
  background-color: #5aac44 !important;
}

.BoardAddIcon {
  opacity: 0.6;
}

.BoardAddIcon:hover {
  opacity: 0.9;
  cursor: pointer;
}

.List {
  background-color: #dee3e6;
  border-radius: 2px;
  height: 100%;
  width: 300px;
  padding: 4px;
  margin-right: 10px;
}

.CardContainer {
  margin: 6px;
  margin-bottom: 8px;
}

.CardContainer.input {
  width: 284px;
  overflow: visible;
  min-height: 30px;
  padding: 2px 2px;
}

.CardContainer.input.list {
  margin-top: 0px;
}

.ListContainer {
  display: flex;
  flex-direction: row;
}

.AddText {
  display: flex;
  align-items: center;
  margin-left: 8px;
  margin-right: 8px;
  margin-bottom: 6px;
  height: 36px;
  width: 284px;
  opacity: 0.6;
  background-color: rgba(0,0,0,.15);
  border-radius: 8px;
}

.AddText:hover {
  opacity: 0.9;
  cursor: pointer;
}

.AddText.list {
  color: white;
}

.Textarea {
  overflow: hidden;
  resize: none;
  width: 90%;
  border: none;
  outline: none;
}

.AddButton {
  color: white !important;
  background-color: #5aac44 !important;
  margin-bottom: 4px !important;
}

.AddButton:hover {
  background-color: #519839 !important;
}

.AddCloseButton {
  display: flex;
  margin: 6px;
}

.DeleteButton {
  padding: 4px;
  opacity: 0.6;
  float: right;
}

.DeleteButton:hover {
  opacity: 0.9;
  cursor: pointer;
}

.EditButton {
  padding: 4px;
  opacity: 0.6;
  float: left;
}

.EditButton:hover {
  opacity: 0.9;
  cursor: pointer;
}

.CloseButton {
  padding: 4px;
  opacity: 0.6;
  margin-top: 4px;
  margin-left: 6px;
}

.CloseButton:hover {
  opacity: 0.9;
  cursor: pointer;
}

.Title {
  font-weight: 500 !important;
}

.Description {
  font-weight: 300 !important;
}
