.App {
  text-align: center;
}

.App h2 {
  color: white;
}

.App h2.BoardTitle {
  text-align: left;
  margin-left: 10px;
}

.AddBoardPaper {
  margin-top: 5px;
  width: 160px;
  padding: 10px;
}

.AddBoardPaper .CreateBoardText {
  padding-bottom: 8px;
}

.AddBoardPaper .CreateBoardButton {
  color: white !important;
  background-color: #5aac44 !important;
}

.BoardAddIcon {
  opacity: 0.6;
}

.BoardAddIcon:hover {
  opacity: 0.9;
  cursor: pointer;
}

.BoardTab {
  position: relative;
}

.BoardTab:hover .DeleteButton.board {
  display: block;
  z-index: 2;
}

.List {
  position: relative;
  background-color: #dee3e6;
  border-radius: 2px;
  height: 100%;
  width: 300px;
  padding: 4px;
  margin-right: 10px;
  border-radius: 5px;
}

.List:hover .DeleteButton.list {
  display: block;
}

.CardContainer {
  position: relative;
  margin-left: 6px;
  margin-right: 6px;
  margin-bottom: 8px;
}

.CardContainer:hover .EditButton {
  display: block;
}

.CardContainer:hover .DeleteButton {
  display: block;
}

.CardContainer.input {
  width: 284px;
  overflow: visible;
  min-height: 30px;
  padding: 2px;
}

.CardContainer.input.list {
  width: 300px;
  padding: 4px;
  margin-left: 0px;
  margin-right: 0px;
}

.ListContainer {
  display: flex;
  flex-direction: row;
}

.AddText {
  display: flex;
  align-items: center;
  margin-left: 6px;
  margin-right: 6px;
  margin-bottom: 6px;
  height: 36px;
  width: 288px;
  opacity: 0.6;
  background-color: rgba(0, 0, 0, 0.15);
  border-radius: 8px;
}

.AddText:hover {
  opacity: 0.9;
  cursor: pointer;
}

.AddText.list {
  margin-left: 0px;
  margin-right: 0px;
  width: 300px;
  color: white;
}

.Textarea {
  overflow: hidden;
  resize: none;
  width: 90%;
  border: none;
  outline: none;
}

.AddButton {
  color: white !important;
  background-color: #5aac44 !important;
  margin-bottom: 4px !important;
}

.AddButton:hover {
  background-color: #519839 !important;
}

.AddCloseButton {
  display: flex;
  margin: 6px;
}

.AddCloseButton.list {
  margin: 0px;
}

.DeleteButton {
  display: none;
  padding: 4px;
  opacity: 0.6;
  position: absolute;
  top: 0px;
  right: 0px;
}

.DeleteButton:hover {
  opacity: 0.9;
  cursor: pointer;
}

.EditButton {
  display: none;
  padding: 4px;
  opacity: 0.6;
  position: absolute;
  top: 0px;
  left: 0px;
}

.EditButton:hover {
  opacity: 0.9;
  cursor: pointer;
}

.CloseButton {
  padding: 4px;
  opacity: 0.6;
  margin-top: 4px;
  margin-left: 6px;
}

.CloseButton:hover {
  opacity: 0.9;
  cursor: pointer;
}

.Title {
  font-weight: 500 !important;
}

.Description {
  font-weight: 300 !important;
}
